/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main__wrapper {
  max-width: 1445px;
  margin: 0 auto;
}

.header__wrapper {
  max-width: 945px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__wrapper .header {
  margin-bottom: 105px;
}

.header__burger {
  display: none;
}

.site__nav {
  height: 87px;
  border-bottom: 1px solid #828282;
}

.site__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.site__nav-lang {
  display: none;
}

.site__nav-list-item {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
}
.site__nav-list-item a {
  color: black;
  text-decoration: none;
}

.nav__list-close {
  display: none;
}

.header__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 180px;
  align-items: center;
  margin-bottom: 8px;
}
.header__block .header__block-name {
  font-size: 48px;
  line-height: 59px;
}
.header__block .header__block-desc {
  font-size: 18px;
  line-height: 22px;
  padding-top: 50px;
  padding-right: 69px;
}
.header__block .header__block-lang {
  padding-top: 30px;
}

.header__img-wrapper .header__img {
  max-width: 100%;
  height: auto;
}

.about {
  height: 506px;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .about__title {
  font-size: 34px;
  line-height: 42px;
}
.about .about__desc {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding: 24px 0;
}
.about .about__desc:last-child {
  padding-bottom: 0;
}

.skills {
  max-width: 945px;
  height: 610px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.skills .skills__title {
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 34px;
  line-height: 42px;
}
.skills .skills_anno {
  font-size: 22px;
  line-height: 18px;
  padding-top: 30px;
  padding-bottom: 90px;
}
.skills .skill__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 108px;
}
.skills .skill_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.skills .skill_card:first-child {
  margin-left: 0;
}
.skills .skill_card:last-child {
  margin-right: 0;
}
.skills .skill_card:last-child .skill__card_star-block {
  padding-top: 50px;
}
.skills .skill_card .skill__card-desc {
  padding-top: 25px;
}
.skills .skill_card .skill__card_star-block {
  padding-top: 35px;
}
.skills .skill_card .skill__card_star-block .skill__card-star {
  margin-right: 5px;
}

.skill__desc-wrapper {
  text-align: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 2250px;
  background-color: #f6f6f6;
}
.portfolio .portfolio__title {
  padding-top: 112px;
  padding-bottom: 47px;
  font-size: 34px;
  line-height: 42px;
}

.portfolio__item .portfolio__item-img {
  max-width: 100%;
  height: auto;
}
.portfolio__item a {
  color: black;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}
.portfolio__item .portfolio__item-decs {
  padding-top: 38px;
  padding-bottom: 99px;
  text-align: center;
}

.footer {
  height: 630px;
}

.footer__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.footer__block h2 {
  padding-top: 107px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 34px;
  line-height: 42px;
}
.footer__block .footer__block-message {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 30px;
}
.footer__block .footer__block-second-message {
  padding-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.footer__block-btn {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  background-color: black;
  outline: none;
  font-size: 18px;
  line-height: 22px;
}

.footer__block-social-links {
  padding-top: 80px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links-item {
  width: 40px;
  height: 40px;
  background-image: url(/img/linkedin-social.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.social-links-item a {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 375px) {
  .site__nav {
    display: none;
  }

  .site__nav-acite {
    display: block;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-top: 20px;
  }
  .site__nav-acite .site__nav-lang {
    display: block;
    position: absolute;
    top: 610px;
    left: 311px;
  }
  .site__nav-acite .nav__list-close {
    display: block;
    position: absolute;
    top: 0;
  }
  .site__nav-acite .nav__list-close:first-child {
    width: 10px;
    height: 2px;
    color: black;
  }
  .site__nav-acite .site__nav-list {
    display: block;
  }
  .site__nav-acite .site__nav-list .site__nav-list-item {
    padding-top: 40px;
  }
  .site__nav-acite .site__nav-list .site__nav-list-item a {
    font-size: 34px;
    line-height: 42px;
    color: black;
  }

  .header__block-lang {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 33px;
    height: 20px;
    top: 63px;
    left: 300px;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 3px;
    top: 8px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__img-wrapper {
    margin-top: 40px;
    text-align: center;
  }

  .header__block {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 30px;
    margin-left: 15px;
  }
  .header__block .header__block-desc {
    padding: 0px;
  }

  .skills {
    padding-top: 80px;
    height: 1339px;
  }
  .skills .skill__desc-wrapper {
    padding-bottom: 80px;
  }
  .skills .skill__desc-wrapper .skills_anno {
    padding: 0;
    text-align: center;
  }
  .skills .skill__desc-wrapper .skills__title {
    padding-top: 0;
    padding-bottom: 30px;
    text-align: center;
  }

  .skills .skill__block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 83px;
    height: 970px;
  }

  .about {
    justify-content: start;
    padding-top: 50px;
    height: 420px;
  }
  .about .about__desc {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .about .about__desc br {
    display: none;
  }

  .portfolio {
    height: 1118px;
    flex-wrap: nowrap;
  }
  .portfolio .portfolio__title {
    padding-top: 75px;
    padding-bottom: 70px;
  }
  .portfolio .portfolio__item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .portfolio .portfolio__item .portfolio__item-decs {
    padding-top: 20px;
    padding-bottom: 91px;
  }

  .footer__block .footer__block-title {
    padding-top: 80px;
  }
  .footer__block .footer__block-btn {
    padding: 10px 95px;
  }
  .footer__block .footer__block-message {
    padding-bottom: 40px;
  }
  .footer__block .footer__block-social-links {
    width: 318px;
    padding-top: 50px;
  }
}